body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg,#89f7fe,#66a6ff);
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
}

.main {
    margin-left: 220px;
    padding: 20px;
    text-align: center;
}

.search-box input {
    padding: 10px;
    width: 250px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.login-box {
    display: none;
    position: fixed;
    top: 30%;
    left: 45%;
    background: white;
    padding: 20px;
}
.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    width:260px;
    text-align:center;
}

.food-img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
}
